/* .home-bg{
  background-image: url("https://img.freepik.com/free-vector/creative-geometric-design-space_53876-89781.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(0);
} */
body{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.card-project{
  background: linear-gradient(90deg, #5b4ba5 0%, #A8C0FF 100%); 
}